.AppEditorButton {
  display: inline-block;
  margin: 0 3px;
  border: 1px solid #555;
  border-radius: 2px;
  padding: 1px 10px;
  background-color: #fff;
  color: #000;
  cursor: pointer;

  &:hover {
    background-color: #555;
    color: #fff;
  }
}

.AppEditorButton--active {
  background-color: #555;
  color: #fff;
}